#!/usr/bin/python3

###############################################################################
#   Copyright (C) 2020 Eric Craw, KF7EEL <kf7eel@qsl.net>
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software Foundation,
#   Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA
###############################################################################

# Contains all variables and functions for program
# This is a split from the shark-py-sms project to allow an APRS only setup.
# This is to accomodate users who do not use DMR but wish to still have an interactive
# messaging setup. This should work with any APRS compatable radio, even bridged DMR systems.
# https://github.com/kf7eel/shark-py-sms

# Feel free to modify and improve.


###############################################################################
#CONFIGURATION VARIABLES
###############################################################################

#############################----APRS----######################################

# Callsign and SSID
aprs_callsign = 'N0CALL'

# APRS host for receive loop, default rotate.aprs.net
aprs_is_host = 'rotate.aprs2.net'
aprs_is_port = 14580

### APRS host and port for sending packets
##aprs_is_send_host = 'rotate.aprs.net'
##aprs_is_send_port = 14580

### Use YAAC to send APRS messages, 0 = off, 1 = on
##use_yaac = 0
##
##yaac_host = 'localhost'
##yaac_port = 8010

# APRS-IS passcode
aprs_passcode = '123456'

# Geographical info
latitude = '0000.  N' # Latitude, use this format
longitude = '00000.  W' # Longitude, use this format
altitude = '000679' # Altitude in feet
aprs_1_comment = 'Comment 1'
aprs_2_comment = 'Comment 2'
aprs_3_comment = 'Comment 3'
aprs_4_comment = 'Comment 4'
aprs_status_text_1 = 'Status 1'
aprs_status_text_2 = 'Status 2'
aprs_status_text_3 = 'Status 3'

aprs_symbol_table = '/' #Primary table
aprs_symbol = 'I' # "File Server - ?, TCP-IP - I" symbol



# Location packet
#location_packet = hotspot_callsign + '>APRS,TCPIP*:' + '=' + latitude + '/' + longitude + aprs_symbol + aprs_symbol_table + 'A=' + altitude + ' ' + aprs_comment


# Filter to be sent to server, required for incoming packets. 100km radius of Ellensberg, WA
# Must change this to your QTH and change radius.
#aprs_filter = 'r/47/-120/200'
aprs_filter = 't/m'


# ! - fixed short format, = - message capable,

# Enable logging
#logging.basicConfig(level=logging.DEBUG) # level=10, DEBUG for most info

###########################----E-Mail----######################################

#--------------------------------------------------------#
# User, Password, and smtp server of your email account. #
email_user = 'user@example.com'                              
email_password = 'password'                     
email_server = 'mail.example.com'                             
smtp_port = 465                                          #
pop_port = 995                                           #
#--------------------------------------------------------#


###############################---Tiny Data System---###########################

# Enable Tiny Data System, 0 = disabled, 1 = enabled

use_tds = 1

post_data_dir = 'path to location for posts in markdown format'

aprs_blog_tag_logation = '../tags/'

aprs_blog_category = 'User APRS Blogs'

twtxt_file_location = 'location for twtxt files'

### System definitions - dont touch

packet_send_folder = '/tmp/.armds.packets/'

line_break = '\n'

